
<p id="notice"><%= notice %></p>

<h1><%= @club.name %></h1> <br />
<div class="row">
    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-body">
          <center><%= image_tag @club.avatar.url ,height: '125', width: '125' %></center>
        </div>
      </div>
      <div class="panel panel-defult">
        <div class="panel-body">

        <!-- Root Path Geçici -->

          <center><%= link_to "Kulübe Üye Ol", root_path, class:"btn btn-default" %></center>       
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center">Danışman</h3>
        </div>
      <div class="panel-body">
          <div class="list-group">
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">TEst</p>
            
          </a>
        </div>
        </div>

      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center">Yönetim Kurulu</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>

        </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center">Hakkımızda</h3>
        </div>
        <div class="panel-body">
          <p><%= @club.description %></p>
          <p>E-mail : <%= @club.email %></p>
        </div>
      </div>
    </div>

        <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center">Duyurular</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
          <% Notice.where(club_id: @club.id).each do |notice| %>
            
            <%= link_to notice.title, notice, class: "list-group-item" %><br />
          <% end %>
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center">Etkinlikler</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
          <% Activity.where(club_id: @club.id).each do |activity| %>
            
            <%= link_to activity.title, activity, class: "list-group-item" %><br />
          <% end %>
          
        </div>
        </div>
      </div>
    </div>

  </div>
</div>