<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @club.logo %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @club.supervisor %>
</p>

<p>
  <strong>Regulation:</strong>
  <%= @club.regulation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @club.email %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
