<%= render "home/header" %>
<p id="notice"><%= notice %></p>

<p>
  <h3 align="right"><%= Club.find_by_id(@notice.club_id).name %></h3>
</p>
<h2><%= @notice.title %></h2> 
<p>
  <%= @notice.content %>
</p>