<%= render "home/header" %>
<div class="jumbotron col-md-12">
<div class="col-md-5 col-md-offset-3">
<h2>Hesabı Düzenleme</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.input :email, autofocus: true, label:"E-Posta" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.input :password, autocomplete: "off",label: "Yeni Parola" %>
  </div>

  <div class="field">
    <%= f.input :password_confirmation, autocomplete: "off", label: "Yeni Parola Tekrarı" %>
  </div>

  <div class="field">
    <%= f.input :current_password, autocomplete: "off", label:"Eski Parola" %>
  </div>

  <div class="actions">
    <%= f.submit "Güncelle",class:"btn btn-info" %>
    <%= button_to "Hesabi Kaldir", registration_path(resource_name), data: { confirm: "Eminmisiniz?" }, method: :delete ,class:"btn btn-danger" %>
  </div>
<% end %>


<%= link_to "Back", :back, class:"btn btn-default" %>
</div>
</div>