<%= render "home/header" %>
<div class="jumbotron">
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Kayıt ol</h3>
        </div>
        <div class="panel-body">
        <!-- first_name and last_name type error. model de ikisi de string  -->
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form_control"}) do |f| %>
          <%= devise_error_messages! %>

           <div class="field">

            <%= f.input :first_name, label:"Ad"%>
          </div>
            <div class="field">
            <%= f.input :last_name, label:"Soyad"%>
          </div>
          <div class="field">

            <%= f.input :email, autofocus: true, label:"E-Posta" %>
          </div>

          <div class="field">
            <%= f.input :password, autocomplete: "off", label:"Parola" %>


          </div>

          <div class="field">
            <%= f.input :password_confirmation, autocomplete: "off",label:"Parola Tekrar" %>
          </div>



          <div class="actions">
            <%= f.submit "Kayıt ol", class: "btn btn-primary" %>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>

        
        </div>
        </div>
      </div>
    </div>
</div>