

<header class="main-header">
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>A</b>LT</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Omü Admin </b>Panel</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
            <ul class="nav navbar-nav">
            <%= link_to "Anasayfa", root_path, class:"navbar-brand" %>
            <li>
                <%= link_to "Yönerge", home_yonerge_path %>
            </li>
            <li>
                <%= link_to "Topluluklar", clubs_path %>
            </li>
        </ul>

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            
              
            
              <li class="dropdown">
             <% if user_signed_in? %>
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.first_name %><strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to "Hesabımı düzenle", edit_user_registration_path %>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <%= link_to "Çıkış", destroy_user_session_path, method: :delete %>
                    </li>
                </ul>
              <% else %>
                    <li>
                    <%= link_to "Giriş", new_user_session_path %>
                    </li>
                    <li>
                        <%= link_to "Kayıt ol", new_user_registration_path %>
                    </li>
                
                <% end %>
            </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
            </ul>
          </div>
        </nav>
      </header>