<%= simple_form_for([:admin,@club]) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name , label: "Kulüp Adı" %>
  </div>
  <div class="field">
  <%= f.input :avatar , label: "Kulüp Logosu" %>
  </div>
  <div class="field">
    <%= f.input :description , label: "Açıklama" %>
  </div>
  <div class="field">
    <%= f.input :supervisor do %>
      <%= f.select :supervisor, club_members %>
    <% end %>
 </div>
   <div class="field">
    <%= f.input :president do %>
      <%= f.select :president, club_members %>
    <% end %>
 </div>
    <div class="field">
    <%= f.input :vice_president do %>
      <%= f.select :vice_president, club_members %>
    <% end %>
 </div>
    <span class="field">
    <%= f.input :secretary do %>
      <%= f.select :secretery, club_members %>
    <% end %>
    </span>
  <span class="field">
    <%= f.input :treasurer do %>
      <%= f.select :treasurer, club_members %>
    <% end %>
  </span>
  <span class="field">
    <%= f.input :founder_member_1 do %>
      <%= f.select :founder_member_1, club_members %>
    <% end %>
  </span>
  <span class="field">
    <%= f.input :founder_member_2 do %>
      <%= f.select :founder_member_2, club_members %>
    <% end %>
  </span>
  <div class="field">
    <%= f.input :regulation , label: "Yönetmelik" %>
  </div>

  <div class="field">
    <%= f.input :email , label: "E-Posta" %>
  </div>
  <div class="actions">
    <%= f.submit "Kaydet" , class: 'btn btn-info' %>
  </div>
<% end %>


