<%= form_for([:admin,@club]) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Ad" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
  <%= f.label "Logo" %><br>
  <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label "Açıklama" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Danışman" %><br>
    <%= f.number_field :supervisor %>
  </div>
  <div class="field">
    <%= f.label "Yönetmelik" %><br>
    <%= f.text_area :regulation %>
  </div>

  <div class="field">
    <%= f.label "E-Posta" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Ekle" %>
  </div>
<% end %>
