
<p id="notice"><%= notice %></p>

<% @clubs.each do |club| %>


  <div class="row">
    <div class="col-md-1">
        <%= image_tag club.avatar.url ,height: '25', width: '25' %>
    </div>
    <div class="col-md-8" >
        <%=club.name%>
    </div>
   
        
    <div class="col-md-3">
        <%= link_to "Düzenle", edit_admin_club_path(club.id), class:"btn btn-default" %>
        <%= link_to "Sil", admin_club_path(club.id), class:"btn btn-danger" , method: :delete , data: {confirm: "Emin misiniz?"} %>
    </div> 
    </div>

  

<% end %>


<%=link_to "Kulüp ekle", new_admin_club_path, class:"btn btn-default"%>


            

