<div class="row">
	<div class="col-md-7">
		<div class="page-header">
			<h1>
				Öğrenci Toplulukları <br /><small>Ondokuz Mayıs Üniversitesi</small>
			</h1>
		</div>
	</div>
	<div class="col-md-5">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<%= link_to "Anasayfa", root_path, class:"navbar-brand" %>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
			        <li>
						<%= link_to "Yönerge", home_yonerge_path %>
					</li>
					<li>
						<%= link_to "Topluluklar", clubs_path %>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">

					<li class="dropdown">
					 <% if user_signed_in? %>
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.first_name %><strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<% if current_user.admin? %>
								<li>
								<%= link_to "Yönetici Paneli", admin_clubs_path %>
							</li>
							<% end %>

							<li>
								<%= link_to "Hesabımı düzenle", edit_user_registration_path %>
							</li>
							<li class="divider">
							</li>
							<li>
								<%= link_to "Çıkış", destroy_user_session_path, method: :delete %>
							</li>
						</ul>
					  <% else %>
					  		<li>
					  		<%= link_to "Giriş", new_user_session_path %>
						  	</li>
							<li>
								<%= link_to "Kayıt ol", new_user_registration_path %>
							</li>
						
						<% end %>
					</li>
				</ul>
			</div>
			
		</nav>
		<!--<div class="alert alert-success alert-dismissable">
			 
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				×
			</button>
			<h4>
				Alert!
			</h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
		</div>-->
	</div>
</div>