<%= simple_form_for([:admin, @activity]) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.input :club_id, collection: Club.all, label: 'Topluluk Seçiniz.' %>
    </div>
  <div class="field">
    <%= f.input :title , label: "Başlık" %>
  </div>
  <div class="field">
  <%= f.input :avatar, as: :file , label: "Etkinlik Resmi" %>
  </div>
  <div class="field">
 
    <%= f.input :description , label: "Açıklama" %>
  </div>

  <div class="field">

    <%= f.input :start_date , label: "Başlangıç Zamanı" %>
  </div>
  <div class="field">
    <%= f.input :finish_date , label: "Bitiş Zamanı" %>
  </div>
  <div class="field">

    <%= f.input :address , label: "Etkinlik Adresi" %>
  </div>
  <div class="actions">
    <%= f.submit "Ekle" %>
  </div>
<% end %>
