<%= simple_form_for([:admin,@user], html: { multipart: true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.input :first_name , label: "Ad" %>
  </div>
  <div class="field">
    <%= f.input :last_name , label: "Soyad" %>
  </div>
  <div class="field">
    <%= f.input :avatar , label: "Avatar" %>
  </div>
  <div class="field">
    <%= f.input :email , label: "E-Posta" %> 
  <div class="actions">
    <%= f.submit "Ekle",class: 'btn btn-info' %>
  </div>
<% end %>
