<%= render "home/header" %>
<div class="row">
  <div class="col-md-3">
    <p id="notice"><%= notice %></p>
    <!-- Profile Image -->
    <div class="box box-primary">
      <div class="box-body box-profile">
        <%= image_tag @club.avatar.url ,height: '125', width: '125', class:"profile-user-img img-responsive img-circle" %>
        <h3 class="profile-username text-center"><%= @club.name%></h3>
        <p class="text-muted text-center">  </p>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <div class="box box-primary">
      <div class="box-body">
          <p>
            <strong>Tarih:</strong>
            <%= @activity.start_date %> - <%= @activity.finish_date %><br />
            <strong>Adres:</strong>
            <%= @activity.address %>
          </p>
      </div>
  </div>   
  </div><!-- /.col -->
  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-body">
    <h3><%= @activity.title %></h3>
    <p style="margin-top: -12px ; margin-left: 20px ; font-size: 10px">Eklenme Tarihi : <%= @activity.created_at %></p>
    <%= image_tag @activity.avatar.url , class: "col-md-offset-2 col-md-8" %>
        <p class="col-md-offset-2 col-md-8" style="padding-top: 15px"><%= @activity.description %></p>
  </div><!-- /.col -->
  
</div>
</div>
</div>



