<%= simple_form_for([:admin, @notice]) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title , label: "Başlık"%>
  </div>
    <div class="field">
    <%= f.input :content , label: "Duyuru İçeriği" %>
     </div>
     
  <div class="field">
  <%= f.input :avatar , label: "Duyuru Resmi" %>
  </div>

  <div class="field">
    <%= f.input :club_id, collection: Club.all, label: 'Topluluk Seçiniz.' %>
    </div>
  <div class="actions">
    <%= f.submit "Ekle" , class: 'btn btn-info' %>
  </div>
<% end %>
