<!DOCTYPE html>
<html>
<head>
  <title>Skskulupler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <% if notice.present? %>
          <div class="alert alert-success" style="font-size:20px;text-align:center;border-radius: 0 !important;">
            <%= notice %>
          </div>
        <% elsif alert.present? %>
          <div class="alert alert-danger" style="font-size:20px;text-align:center;border-radius: 0 !important;">
            <%= alert %>
          </div>
      <%end%>
      <%= yield %>
    </div>
    <div class="panel-footer">
      <div class="row">
         <div class="col-md-12">
            <blockquote class="pull-right">
            <p>
              Bu proje OMÜ Uzem Yazılım Kampında yapılmıştır.
            </p> <small> &copy; 2015 Ondokuz Mayıs Üniversitesi</small>
            <a href="http://www.omu.edu.tr/en" class="btn btn-success">Omü Ansayfa</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
