<!DOCTYPE html>
<html>
<head>
  <title>Skskulupler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('.alert-danger').remove();
      }, 5000);
      setTimeout(function(){
        $('.alert-success').remove();
      }, 5000);
    })
  </script>
</head>
<body class="hold-transition skin-blue layout-top-nav">

<div class="wrapper">
      <% if notice.present? %>
          <div class="alert alert-success" style="font-size:20px;text-align:center;border-radius: 0 !important;">
            <%= notice %>
          </div>
        <% elsif alert.present? %>
          <div class="alert alert-danger" style="font-size:20px;text-align:center;border-radius: 0 !important;">
            <%= alert %>
          </div>
      <%end%>
      <%= yield %>
    <footer class="main-footer col-md-12">
        <div class="container">
          Bu proje Uzem Akademi 2015 için yapılmıştır.
          <%= link_to "Omü Anasayfa" , "http://www.omu.edu.tr/",style:"float:right;",class: "btn btn-md btn-info" %></div>
        </div><!-- /.container -->
      </footer>
    </div><!-- ./wrapper -->
</body>
</html>
