<!DOCTYPE html>
<html>
<head>
  <title>Skskulupler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="panel panel-default">
  <div class="panel-body">

<%= yield %>
  </div>
	<div class="panel-footer">
		<div class="row">
		<div class="col-md-12">
			<blockquote class="pull-right">
				<p>
					Bu proje OMÜ Uzem Yazılım Kampında yapılmıştır.  
				</p> <small> &copy; 2015 Ondokuz Mayıs Üniversitesi</small>
			</blockquote>
		</div>
	</div>
</div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
